################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/videos/20200921_152418.mp4
/videos/20200921_152239.mp4
/videos/20200921_151816.mp4
/videos/20200921_151726.mp4
/videos/Startup.mp4
